@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
body{
    font-family:'Poppins', 'sans-seriff';
    font-size: 15px;
    color: var(--Very-Dark-Blue);
    background-color:hsl(0, 0%, 98%);
    height: 100vh;
    max-width: 1440px;
    padding: 40px;
}
div.container {
    width: 80vw;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}
h1 {
    text-align: center;
}
h3 {
    margin-bottom: 8px;
}
h1#not-bold {
    font-weight: 200;
}
p {
    color: var(--Grayish-Blue);
}
p#para {
    font-weight: 600;
}
.box {
    width: 369px;
    height: 240px;
    padding: 34px;
    border: 1px solid #fff;
    background-color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-width: 5px;
    box-shadow: 8px 35px 27px -19px var(--Very-Dark-Blue);
}
.cyan {
    border-top-color: var(--Cyan);
}
.red {
    border-top-color: var(--Red);
}
.blue {
    border-top-color: var(--Blue);
}
.orange {
    border-top-color: var(--Orange);
    grid-area: 2/2;
}
.cont {
    transform: translateY(56%);
}
.box img {
    display: block;
    float: right;
    margin-top: 45px; 
}
div.resize {
    margin: 0 auto;
    width: 35%;
    text-align: center;
    font-weight: 200;
}
.attribution { 
    font-size: 11px; text-align: center; 
    display: none;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width: 375px) {
    body {
        margin: 0 auto;
        padding: 0;
        max-width: 375px;
    }
    header {
        margin: 70px auto 0
    }
    div.resize {
        margin: 0 auto;
        width: 329px;
        text-align: center;
        font-weight: 200;
    }
    h1 {
        font-size: 25px;
    }
    div.container {
        display: block;
        margin: 0 auto;
    }
    .cont {
        transform: translateY(0);
    }
    .box {
        width: 375px;
        margin: 0 auto;
        padding: 0;
    }
    .cyan {
        display: block;
        position: absolute;
        left: 5px;
    }
}